.logoescudo{
    width: 20px;
    height: auto;
}

.tablapartidos{
    caption-side: top;
}

caption{
    padding: 50px 0px 20px 0px;
    font-size: 40px;
    
}

.main-container{   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.sel{
    font-size: 20px;
}

.bodyinicio{
    background-image: url("/documentation/background.jpg");
    background-size: cover;
}
.logo{
    height: 20px;
    width: auto;
}
td{
    text-align: auto;
}