.logoescudo{
    width: 20px;
    height: auto;
}

.tablapartidos{
    caption-side: top;
}

/* caption{
    padding: 50px 0px 20px 0px;
    font-size: 40px;
    
} */

.main-container{   
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 500px;
    
    
}
.sel{
    font-size: 20px;
}

.bodyinicio{
    background-image: url("/documentation/background.jpg");
    background-size: cover;
}
.logo{
    height: 20px;
    width: auto;
}
td{
    text-align: auto;
    
}
.tdTabla{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.textoCargando{
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
}